<?xml version="1.0" encoding="UTF-8"?>
<Server>
	<Listener className="org.apache.catalina.core.AprLifecycleListener"/>
	<Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
	<Listener className="org.apache.catalina.storeconfig.StoreConfigLifecycleListener"/>
	<Listener className="org.apache.catalina.mbeans.ServerLifecycleListener"/>
	<GlobalNamingResources>
		<Environment name="simpleValue" 
				  type="java.lang.Integer" 
				  value="30"
	  	/>
		<Resource auth="Container" 
				  description="User database that can be updated and saved" 
				  factory="org.apache.catalina.users.MemoryUserDatabaseFactory" 
				  name="UserDatabase" 
				  pathname="conf/tomcat-users.xml" 
				  type="org.apache.catalina.UserDatabase"
		 />
	</GlobalNamingResources>
	
	<Service name="Catalina">
		<Connector connectionTimeout="20000" 
				   maxSpareThreads="75" 
				   maxThreads="150" 
				   minSpareThreads="25" 
				   port="8080" 
				   redirectPort="8443"/>
				   
		<!-- Define an SSL HTTP/1.1 Connector on port 8443 -->

		<Connector className="org.apache.catalina.connector.http.HttpConnector"
				   port="8443" 
				   minProcessors="5" 
				   maxProcessors="75"
				   enableLookups="true"
				   acceptCount="10" 
				   debug="0" 
				   scheme="https" 
				   secure="true">

  			<Factory className="org.apache.catalina.net.SSLServerSocketFactory"
				   clientAuth="false" 
				   keystoreFile="security/ccgkeystore"
				   protocol="TLS"/>

		</Connector>

-->
				   
		<Connector port="8009" 
				   protocol="AJP/1.3" 
				   redirectPort="8443"/>
				   
		<Engine defaultHost="localhost" name="Catalina">
			<Realm className="org.apache.catalina.realm.UserDatabaseRealm"/>
		</Engine>
	</Service>
</Server>